.header {
  text-align: center;
  font-size: 30px;
  margin: 30px 0;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.playerscore,
.computerscore{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0;
}

.resultcontainer {
  display: flex;
  flex-direction: column;
}

.resultcontainer > * {
  text-align: center;
}

.buttons img {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

.hoverbtn:hover {
  box-shadow: 2px 4px 16px black;
}
