.header {
  text-align: center;
  font-size: 30px;
  margin: 50px 0;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px 0;
}

.playerscore,
.computerscore{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.choicescontainer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.choicescontainer img {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

.hoverbtn:hover {
  box-shadow: 2px 4px 16px black;
  transform: scale(1.1);
}

.playerChoiceDisplay,
.computerChoiceDisplay {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px; 
}

.vs {
  align-self: flex-end;
  height: 100px;
  /* center text vertically: */
  line-height: 100px;
}

.resultcontainer {
  text-align: center;
  height: 40px;
}

.winhighlight {
  background: linear-gradient(rgba(0,128,0,0.5),rgba(0,128,0,0.5)); 
}

.losehighlight {
  background: linear-gradient(rgba(255,0,0,0.5),rgba(255,0,0,0.5));
}

.tiehighlight {
  background: linear-gradient(rgba(128,128,128,0.5),rgba(128,128,128,0.5));
}